<%= form_with(model: question, html: { class: "max-w-sm mx-auto" }) do |form| %>
  <% if question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-5">
    <%= form.label :exam_id, style: "display: block", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.collection_select :exam_id, @exams, :id, :title, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <div class="mb-5">
    <%= form.label :content, style: "display: block", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.textarea :content, class: "block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <div class="mb-5">
    <%= form.label :question_type, style: "display: block", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.select :question_type, Question::VALID_QUESTION_TYPES.map { |type| [type.titleize, type] }, {}, class: "form-control" %>
  </div>

  <div>
    <%= form.label :answer, style: "display: block", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.textarea :answer, class: "block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <div class="mb-5">
    <%= form.label :correct_answer, style: "display: block", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.textarea :correct_answer, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <div>
    <%= form.submit "Submit", class: "inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-orange-500 rounded-lg hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800" %>
  </div>
<% end %>
