<div id="<%= dom_id question %>">
  <p>
    <strong>Exam:</strong>
    <%= question.exam_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= question.content %>
  </p>

  <p>
    <strong>Question type:</strong>
    <%= question.question_type %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= question.answer %>
  </p>

  <p>
    <strong>Correct answer:</strong>
    <%= question.correct_answer %>
  </p>

</div>
