<%= form_with(model: exam) do |form| %>
  <% if exam.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
        <% exam.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.label :pass_grade, style: "display: block" %>
    <%= form.number_field :pass_grade %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
